<div class="container">
  <div class="row">
    <div class="followedstock-container">

      <% @stock_market_prices.first(5).each do |key, value| %>
        <div class="followedstock-box">
          <p class="fs-name"><%= value[:stock_name] %></p>
          <div class="d-flex">
            <p class="fs-price"><%= number_to_currency(value[:latest_price]) %></p>

            <% if value[:change_percent] > 0 %>
              <p class="fs-percent-pos"><%= value[:change_percent_s] %></p>
            <% else %>
              <p class="fs-percent-neg"><%= value[:change_percent_s] %></p>
            <% end %>

          </div>
        </div>
      <% end %>

      <% if @stock_market_prices.count < 5 %>
      <div class="add-followedstock-box">
        <button type="button" class="follow-stock-plus" data-toggle="modal" data-target="#followmodal">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="total-assets-box">
      <h2>Portfolio Value</h2>
      <h2 class="dash-total-value"><%= number_to_currency(@total_market_value.round(1)) %></h2>
      <p>From <%= @total_stock_count %> stocks.</p>
    </div>
    <div class="total-assets-box">
      <h2>Total P/L</h2>
      <% if @net > 0 %>
      <h2 class="dash-total-percentage-prof"><%= @net_percent.round(1) %>%</h2>
      <p>You are <%= number_to_currency(@net) %> in profit.</p>
      <% else %>
      <h2 class="dash-total-percentage-loss"><%= @net_percent.round(1) %>%</h2>
      <p>You are <%= number_to_currency(@net) %> in loss.</p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="more-box">
      <h2>Portfolio Overview</h2>
      <div class="row d-flex justify-content-center">
        <% @stock_total_value.each do |key, value| %>
          <% if value[:market_percentage_change] > 0 %>
            <div class="overview-pos-box">
              <% net = value[:market_value]-value[:total_money_value] %>
              <% net_percent = (net/value[:total_money_value])*100 %>
              <p class="overview-stock-title"><%= Stock.find(key).name %> <i class="fas fa-arrow-up"></i></p>
              <p>Current Value: <%= number_to_currency(value[:total_money_value]) %></p>
              <p>24HR Gain: <%= (value[:market_percentage_change]*100).round(2)%>%</p>
            </div>
          <% else %>
            <div class="overview-neg-box">
              <% net = value[:market_value]-value[:total_money_value] %>
              <% net_percent = (net/value[:total_money_value])*100 %>
              <p class="overview-stock-title"><%= Stock.find(key).name %> <i class="fas fa-arrow-down"></i></p>
              <p>Current Value: <%= number_to_currency(value[:total_money_value]) %></p>
              <p>24HR Loss: <%= (value[:market_percentage_change]*100).round(2)%>%</p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>





<%# MODAL %>


<div class="modal fade" id="followmodal" tabindex="-1" role="dialog" aria-labelledby="followmodalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followmodalLabel">Follow a new stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@followedstock) do |f| %>
        <%= f.association :stock, input_html: { class: 'select2' }  %>
        <div class="modal-footer">
          <div class="form-actions">
            <%= f.button :submit, "Follow this stock" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= pie_chart(@data ,
  colors: ['#3E92CC', '#2A628F', '#13293D','#16324F','#18435A'],
  donut: true,
  legend: "bottom")%>
