<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% apple = @testclient.quote('AAPL') %>
<%= @testclient.chart("AAPL") %>
NAME: <%= apple.company_name %> <br>
Latest Price: <%= apple.latest_price %><br>
Previous Close: <%= apple.previous_close %><br>
1 Day Change: <%= apple.change_percent*100 %>%<br>
Yearly Change: <%= apple.ytd_change*100 %>%<br>
52 Week High: <%= apple.week_52_high %><br>
52 Week Low: <%= apple.week_52_low %><br>
