<body class="table_body">
  <div class="table-title">
    <h3 class="mt-5">Overview</h3>
  </div>
  <table class="table-fill">
    <thead>
      <tr>
        <th class="text-left">Stock</th>
        <th class="text-left">Amount</th>
        <th class="text-left">Your Cost</th>
        <th class="text-left">Current Value</th>
        <th class="text-left">Net</th>
        <th class="text-left">P/L</th>
        <th class="text-left"></th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <% @stock_total_value.each do |key, value| %>
      <tr>
        <td class="text-left"><%= Stock.find(key).name %></td>
        <td class="text-left"><%= value[:total_stock_count] %></td>
        <td class="text-left"><%= number_to_currency(value[:total_money_value]) %></td>
        <td class="text-left"><%= number_to_currency(value[:market_value]) %></td>

        <% net = value[:market_value]-value[:total_money_value] %>
        <% net_percent = (net/value[:total_money_value])*100 %>
        <% if net > 0 %>
          <td class="text-left profit-text"><%= number_to_currency(net.round(1)) %></td>
          <td class="text-left profit-text"><%= net_percent.round(1)%>%</td>
        <% else %>
        <td class="text-left loss-text"><%= number_to_currency(net.round(1)) %></td>
        <td class="text-left loss-text"><%= net_percent.round(1)%>%</td>
        <% end %>

        <td><a href="#" id="show_<%=key%>" class="show-extra down-arrow" data-id="<%=key%>">▼</a></td>
      </tr>

      <% avg_price = value[:total_money_value]/value[:total_stock_count] %>
      <% current_price = value[:market_value]/value[:total_stock_count] %>
      <tr class="expanded-row">
        <td colspan="5" id="extra_<%=key%>" class="d-none">
          <span>You paid an average of <b><%= number_to_currency(avg_price) %></b> per stock.</span><br>
          <span>The current market price is <b><%= number_to_currency(current_price) %></b> per stock.</span>
        </td>
      </tr>

      <% end %>
    </tbody>
  </table>
</body>



<%# VICTOR'S WORK %>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Buy stock
</button>

<!-- Modal -->
<%# <div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@acquisition) do |f| %>
<%# <div class="form-inputs">
          <%= f.association :stock, input_html: { class: 'select2' }  %>
<%# <%= f.input :value_bought, :label => "Purchase price" %>
<%# <%= f.input :amount_bought, :label => "Amount bought" %>
<%# <div class="modal-footer">
            <div class="form-actions">
              <%= f.button :submit %>
<%# </div>
          </div>
          <% end %>
<%# </div>
      </div>
    </div>
  </div>
</div> %>

<%# JS's work %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal-content">
      <div class="modal-body">
        <h1 class="title_modal_acquisition">Purchase </h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="column" id="main">
          <div class="modall-body">
            <%= simple_form_for(@acquisition) do |f| %>
            <div class="form-inputs">
              <div class="text_on_left">
                <%= f.association :stock, input_html: { class: 'select2' }  %>
                <%= f.input :value_bought, :label => "Purchase price", class:"text_modal" %>
                <%= f.input :amount_bought, :label => "Amount bought", class:"text_modal" %>
              </div>
              <div class="modal-footer">
                <div class="form-actions">
                  <%= f.button :submit, :label => "Confirm the purchase"%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
